/*
###############################################################################
Version 1.0
No.     Modified Date        By                    Description
1.      20171218             wrwt                  create new file
###############################################################################
css_printform_generator.css
*/

body {
    font-size: 8pt;
}

#rept_styl * {
	margin: 0;
	padding: 0;
}

#page-wrap {
	margin: 50px;
}
#rept_styl p {
	margin: 20px 0;
}

/*
Generic Styling, for Desktops/Laptops
*/
#rept_style table {
	width: 100%;
	border-collapse: collapse;
}
/* Zebra striping */
#rept_style tr:nth-of-type(odd) {
	background: #eee;
}
#rept_style th {
	background: #333;
	color: white;
	font-weight: bold;
}
#rept_style td, #rept_style th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
    border: none;
}
