/*
###############################################################################
Version 1.0
No.     Modified Date        By                    Description
1.      20170712             wrwt                  create new file
###############################################################################
css_utility.css
*/

@font-face {
    font-family: Quark-Light;
    src: url(font/Quark/Quark-Light.otf);
}

tr:hover {
    background-color: #ffffe6;
}

tr:hover td {
    background-color: transparent; /* or #000 */
}

.img_box_login{
 width:70%;
 height:70%;
 position: relative;
 left: 42%;
 top: 30%;
}

.resize_horizontal{
 width:30%;
}

li:hover {
border-bottom: solid;
border-color: #c9302c;
border-bottom-width: thick;
}

#img_box_top_menu{
 max-width:250px;
 height:auto;
 position: relative;
 left: 3%;
 top: 15%;
}

#resize_horizontal_top_menu{
 width:30% !important;
}

#lbl_app_top_menu{
    position: absolute;
    left: 120px;
    top: 30px;
    font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .main_login_header {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  #lbl_app_top_menu {
    clear: both;
    float: left;
    font-size: 15px;
  }
}

div.dropdown-menu.open{
  max-height: 314px !important;
  overflow: hidden;
}
ul.dropdown-menu.inner{
  max-height: 260px !important;
  overflow-y: auto;
}

div {
    font-family: Quark-Light;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.watermark {
    position: absolute;
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
}

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background: rgb(42,63,84); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(42,63,84,1) 0%, rgba(42,63,84,1) 0%, rgba(42,63,84,1) 15%, rgba(42,63,84,1) 38%, rgba(42,63,84,1) 68%, rgba(42,63,84,1) 68%, rgba(42,63,84,1) 82%, rgba(42,63,84,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(42,63,84,1) 0%,rgba(42,63,84,1) 0%,rgba(42,63,84,1) 15%,rgba(42,63,84,1) 38%,rgba(42,63,84,1) 68%,rgba(42,63,84,1) 68%,rgba(42,63,84,1) 82%,rgba(42,63,84,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(42,63,84,1) 0%,rgba(42,63,84,1) 0%,rgba(42,63,84,1) 15%,rgba(42,63,84,1) 38%,rgba(42,63,84,1) 68%,rgba(42,63,84,1) 68%,rgba(42,63,84,1) 82%,rgba(42,63,84,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d2e0', endColorstr='#9ebfd0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.top-buffer { margin-top:20px; }

.login_box{
    background:#f7f7f7;
    border:3px solid #F4F4F4;
    padding-left: 15px;
    margin-bottom:25px;
    }
.input_title{
    color:rgba(164, 164, 164, 0.9);
    padding-left:3px;
        margin-bottom: 2px;
    }

hr{
    width:100%;
}

.welcome{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 200;
    color:#FFFFFF;
    margin-bottom:25px;
    margin-top:50px;

}

.login_title{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    color:rgba(164, 164, 164, 0.44);
}

.card-container.card {
    padding-top: 30px;
    max-width: 90%;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    border-radius:0;
    background:#43A6EB;
    margin-bottom:10px;
}

/*
 * Card component
 */
.card {
    /* just in case there no content*/
    padding: 1px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 15%x;

    border-bottom: 6px solid #c9302c;

    border-radius: 20px 20px 20px 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
   background: rgb(255,255,255); /* Old browsers */
   background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.dashbrd-total-number{
    text-align:right;
    font-size:60px;
    color:white;
    margin: 0 auto 60px;
    text-shadow: 2px 1px #000000;
}

.card-dashbrd-total{
    /* just in case there no content*/
    text-shadow: 1px 1px #cccccc;
    padding: 1px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 5%x;
    border-bottom: 6px solid #c9302c;
    border-radius: 20px 20px 20px 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: rgba(222,164,89,1);
    background: -moz-linear-gradient(top, rgba(222,164,89,1) 0%, rgba(222,164,89,1) 51%, rgba(222,164,89,1) 51%, rgba(194,110,0,1) 51%, rgba(194,110,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,164,89,1)), color-stop(51%, rgba(222,164,89,1)), color-stop(51%, rgba(222,164,89,1)), color-stop(51%, rgba(194,110,0,1)), color-stop(100%, rgba(194,110,0,1)));
    background: -webkit-linear-gradient(top, rgba(222,164,89,1) 0%, rgba(222,164,89,1) 51%, rgba(222,164,89,1) 51%, rgba(194,110,0,1) 51%, rgba(194,110,0,1) 100%);
    background: -o-linear-gradient(top, rgba(222,164,89,1) 0%, rgba(222,164,89,1) 51%, rgba(222,164,89,1) 51%, rgba(194,110,0,1) 51%, rgba(194,110,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(222,164,89,1) 0%, rgba(222,164,89,1) 51%, rgba(222,164,89,1) 51%, rgba(194,110,0,1) 51%, rgba(194,110,0,1) 100%);
    background: linear-gradient(to bottom, rgba(222,164,89,1) 0%, rgba(222,164,89,1) 51%, rgba(222,164,89,1) 51%, rgba(194,110,0,1) 51%, rgba(194,110,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dea459', endColorstr='#c26e00', GradientType=0 );
}

.card-dashbrd-total-today{
    /* just in case there no content*/
    text-shadow: 1px 1px #cccccc;
    padding: 1px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 15%x;
    border-bottom: 6px solid #c9302c;
    border-radius: 20px 20px 20px 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: rgba(80,217,103,1);
    background: -moz-linear-gradient(top, rgba(80,217,103,1) 0%, rgba(74,201,95,1) 50%, rgba(67,168,86,1) 50%, rgba(27,133,44,1) 71%, rgba(1,122,24,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,217,103,1)), color-stop(50%, rgba(74,201,95,1)), color-stop(50%, rgba(67,168,86,1)), color-stop(71%, rgba(27,133,44,1)), color-stop(100%, rgba(1,122,24,1)));
    background: -webkit-linear-gradient(top, rgba(80,217,103,1) 0%, rgba(74,201,95,1) 50%, rgba(67,168,86,1) 50%, rgba(27,133,44,1) 71%, rgba(1,122,24,1) 100%);
    background: -o-linear-gradient(top, rgba(80,217,103,1) 0%, rgba(74,201,95,1) 50%, rgba(67,168,86,1) 50%, rgba(27,133,44,1) 71%, rgba(1,122,24,1) 100%);
    background: -ms-linear-gradient(top, rgba(80,217,103,1) 0%, rgba(74,201,95,1) 50%, rgba(67,168,86,1) 50%, rgba(27,133,44,1) 71%, rgba(1,122,24,1) 100%);
    background: linear-gradient(to bottom, rgba(80,217,103,1) 0%, rgba(74,201,95,1) 50%, rgba(67,168,86,1) 50%, rgba(27,133,44,1) 71%, rgba(1,122,24,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50d967', endColorstr='#017a18', GradientType=0 );

}

.card-dashbrd-total-male{
    /* just in case there no content*/
    text-shadow: 1px 1px #cccccc;
    padding: 1px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 15%x;
    border-bottom: 6px solid #c9302c;
    border-radius: 20px 20px 20px 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: rgba(93,147,212,1);
    background: -moz-linear-gradient(top, rgba(93,147,212,1) 0%, rgba(56,124,207,1) 50%, rgba(59,108,168,1) 50%, rgba(26,79,143,1) 71%, rgba(4,59,130,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(93,147,212,1)), color-stop(50%, rgba(56,124,207,1)), color-stop(50%, rgba(59,108,168,1)), color-stop(71%, rgba(26,79,143,1)), color-stop(100%, rgba(4,59,130,1)));
    background: -webkit-linear-gradient(top, rgba(93,147,212,1) 0%, rgba(56,124,207,1) 50%, rgba(59,108,168,1) 50%, rgba(26,79,143,1) 71%, rgba(4,59,130,1) 100%);
    background: -o-linear-gradient(top, rgba(93,147,212,1) 0%, rgba(56,124,207,1) 50%, rgba(59,108,168,1) 50%, rgba(26,79,143,1) 71%, rgba(4,59,130,1) 100%);
    background: -ms-linear-gradient(top, rgba(93,147,212,1) 0%, rgba(56,124,207,1) 50%, rgba(59,108,168,1) 50%, rgba(26,79,143,1) 71%, rgba(4,59,130,1) 100%);
    background: linear-gradient(to bottom, rgba(93,147,212,1) 0%, rgba(56,124,207,1) 50%, rgba(59,108,168,1) 50%, rgba(26,79,143,1) 71%, rgba(4,59,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d93d4', endColorstr='#043b82', GradientType=0 );

}

.card-dashbrd-total-female{
    /* just in case there no content*/
    text-shadow: 1px 1px #cccccc;
    padding: 1px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 15%x;
    border-bottom: 6px solid #c9302c;
    border-radius: 20px 20px 20px 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: rgba(204,88,138,1);
    background: -moz-linear-gradient(top, rgba(204,88,138,1) 0%, rgba(204,88,138,1) 50%, rgba(189,6,85,1) 50%, rgba(189,6,85,1) 55%, rgba(189,6,85,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,88,138,1)), color-stop(50%, rgba(204,88,138,1)), color-stop(50%, rgba(189,6,85,1)), color-stop(55%, rgba(189,6,85,1)), color-stop(100%, rgba(189,6,85,1)));
    background: -webkit-linear-gradient(top, rgba(204,88,138,1) 0%, rgba(204,88,138,1) 50%, rgba(189,6,85,1) 50%, rgba(189,6,85,1) 55%, rgba(189,6,85,1) 100%);
    background: -o-linear-gradient(top, rgba(204,88,138,1) 0%, rgba(204,88,138,1) 50%, rgba(189,6,85,1) 50%, rgba(189,6,85,1) 55%, rgba(189,6,85,1) 100%);
    background: -ms-linear-gradient(top, rgba(204,88,138,1) 0%, rgba(204,88,138,1) 50%, rgba(189,6,85,1) 50%, rgba(189,6,85,1) 55%, rgba(189,6,85,1) 100%);
    background: linear-gradient(to bottom, rgba(204,88,138,1) 0%, rgba(204,88,138,1) 50%, rgba(189,6,85,1) 50%, rgba(189,6,85,1) 55%, rgba(189,6,85,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc588a', endColorstr='#bd0655', GradientType=0 );
}

.card-dashbrd-header{
     border-bottom: 6px solid #e0e2e4;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;

    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
/*
END: Login form style
*/

/*
START: Account in NavBar
*/
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.navbar-header
{
    height: 120px;
    text-shadow: 2px 2px #d9d9d9;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
/*
END: Account in NavBar
*/

/* Table listmain panel style */
.panel-table .panel-body{
    padding:0;
  }

  .panel-table .panel-body .table-bordered{
    border-style: none;
    margin:0;
  }

  .panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
      text-align:center;
      width: 100px;
  }

  .panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
  .panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
    border-right: 0px;
  }

  .panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
  .panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
    border-left: 0px;
  }

  .panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
    border-bottom: 0px;
  }

  .panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
    border-top: 0px;
  }

  .panel-table .panel-footer .pagination{
    margin:0;
  }

  /*
  used to vertically center elements, may need modification if you're not using default sizes.
  */
  .panel-table .panel-footer .col{
   line-height: 34px;
   height: 34px;
  }

  .panel-table .panel-heading .col h3{
   line-height: 30px;
   height: 30px;
  }

  .panel-table .panel-body .table-bordered > tbody > tr > td{
    line-height: 34px;
  }
  /* Table listmain panel style */

  /* Modal popup form */
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-15 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.modal-header{
    background: -webkit-linear-gradient(left, #c9302c , #c9302c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #c9302c, #c9302c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #c9302c, #c9302c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #c9302c , #c9302c); /* Standard syntax */
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}
/* Modal popup form */

.chip{
  background: -webkit-linear-gradient(left, #c9302c, #c9302c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #c9302c, #c9302c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #c9302c, #c9302c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #c9302c, #c9302c); /* Standard syntax */
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

.login_title{
    background: -webkit-linear-gradient(left, #c9302c, #c9302c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #c9302c, #c9302c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #c9302c, #c9302c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #c9302c, #c9302c); /* Standard syntax */
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    font-size: 20px;
    border: 2px solid;
    border-radius: 25px;
    line-height:50px;
}

.welcome{
    text-shadow: 2px 2px #000000;
}

.badge-icon{
    position: relative;
    width: 150px;
    height: 150px;
    padding: 25px;
    background: #efefef;
    border: 2px solid #666;
    border-radius: 15px;
    color: #666;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.6); -moz-box-shadow: 6px 6px 5px rgba(0,0,0,0.6); -webkit-box-shadow: 6px 6px 5px rgba(0,0,0,0.6); -o-box-shadow: 6px 6px 5px rgba(0,0,0,0.6);
}

.badge-icon-text{
    background: -webkit-linear-gradient(left, #c9302c, #c9302c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #c9302c, #c9302c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #c9302c, #c9302c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #c9302c, #c9302c); /* Standard syntax */
    color: #ffffff;
    border: 2px solid;
    border-radius: 5px;
    line-height:30px;
}

.dashboard-text{
    text-shadow: 2px 2px #d9d9d9;
}

#success_message{ display: none;}

.password{
    position: relative;
}

.password input[type="password"]{
    padding-right: 30px;
}

.password .glyphicon,#password2 .glyphicon {
    display:none;
    right: 15px;
    position: absolute;
    top: 10px;
    cursor:pointer;
}


/* file upload */
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}
/* file upload */

/*checkbox style*/
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
/*checkbox style*/

/* verticle devider between divs */
.seperator-1 {
  float: left;
}
.seperator-1:after {
  content: "";
  background-color: #b3b3b3;
  position: absolute;
  width: 3px;
  height: 100px;
  top: 20px;
  left: 70%;
  display: block;
}
/* verticle devider between divs */

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

.badge-form-section {
    background:#FAFAD2;
    padding-left:20px;
    padding-right:10px;
    border-radius:3px;
}
